name: Verify Build

on: [ push, pull_request, workflow_dispatch ]

jobs:
  verification:
    name: Verification
    runs-on: ubuntu-latest
    strategy:
        matrix:
            gradle-version: [ '7.6.2', '8.0.2', '8.1.1', '8.2', '8.3' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup git user
      # Needed for functional tests executing git commands
        run: |
          git config --global user.name "bot-githubaction"
          git config --global user.email "bot-githubaction@gradle.com"
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          develocity-access-key: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
      - name: Build with Gradle
        run: ./gradlew build -x signPluginMavenPublication -i -PtestGradleVersion=${{ matrix.gradle-version }} -Porg.gradle.java.installations.auto-download=false
