name: Verify Build

on: [ push, pull_request, workflow_dispatch ]

jobs:
  verification:
    name: Verification
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
        matrix:
            gradle-version: [ '7.6.2', '8.0.2', '8.1.1', '8.2', '8.3', '8.14.3', '9.0.0', 'wrapper' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup git user
      # Needed for functional tests executing git commands
        run: |
          git config --global user.name "bot-githubaction"
          git config --global user.email "bot-githubaction@gradle.com"
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          develocity-access-key: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
      - name: Build with Gradle
        if: ${{ matrix.gradle-version != 'wrapper' }}
        run: ./gradlew build -x signPluginMavenPublication -i -PtestGradleVersion=${{ matrix.gradle-version }} -Porg.gradle.java.installations.auto-download=false

      - name: Build with Gradle - Wrapper version
        if: ${{ matrix.gradle-version == 'wrapper' }}
        run: ./gradlew build -x signPluginMavenPublication -i -Porg.gradle.java.installations.auto-download=false
